* {
  background-color: #d5c0ae;
  caret-color: white;
  height: fit-content;
}
::selection {
  background: pink;
}
.App-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 35px;
  min-height: 100vh;
  max-height: fit-content;

  /* border: black solid; */
}
.App-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 35px;
  min-height: 100vh;
  max-height: fit-content;
  /* border: black solid; */
}
.App-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 35px;
  min-height: 100vh;
  max-height: fit-content;
  /* border: black solid; */
}
.app {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* width: 600px; */
  text-align: center;
  /* border: red solid; */
  padding-top: 0;
  margin-left: 69px;
  margin-top: 30px;
  /* z-index: -1; */
}
.nav {
  display: flex;
  justify-content: end;
  /* border: solid blue; */
  width: 100vw;
  position: sticky;
  top: 0;
}
.info-button,
.settings-button {
  /* position: absolute; */
  cursor: pointer;
  height: 24px;
  margin: 5px;
  border: none;
  opacity: 0.2;
  padding: 4px;
  transition: all 0.26s ease-out;
  /* border: black solid; */
}
.info-button:hover,
.settings-button:hover {
  opacity: 1;
}
.clock-tutorial {
  font-size: 15px;
}
.clock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: sticky;
  top: 0;
  transition: all 1s cubic-bezier(0.5, 0.6, 0.55, 0.54) !important;
  /* border: black solid; */
}
.time {
  display: flex;
  height: 36px;
  width: 170px; /*149px */
  cursor: pointer;
  font-size: 30px;
  margin-bottom: 0;
  transition: all 0.25 ease-out;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  transition: all 0.3s cubic-bezier(0.5, 0.6, 0.55, 0.54) !important;
}
.date {
  display: flex;
  height: 29px;
  width: 190px;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  font-weight: 300;
  /* border: solid black; */
  transition: all 0.3s cubic-bezier(0.5, 0.6, 0.55, 0.54) !important;
}
.time:hover {
  opacity: 0.3;
}
.date:hover {
  opacity: 0.3;
}
textarea {
  border: none;
  background-color: transparent;
  resize: none;
  overflow: hidden;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0;
  font-size: 22px;
  min-width: 154px;
  word-wrap: none;
  display: flex;
  flex-wrap: nowrap;
}
textarea:focus {
  outline: none !important;
}
.enter-item::placeholder {
  opacity: 0.5;
  transition: all 1.5s cubic-bezier(0.04, 0.93, 0.75, 1);
}
.enter-item:focus::placeholder {
  opacity: 0;
}
.entered-item {
  border: none;
  border-bottom: #d5c0ae solid 1px;
  font-size: 19px;
  margin: 0;
  /* border: blue solid; */
}
.floating-enter-item {
  position: absolute;
  background-color: transparent;
  height: 23px;
  border-bottom: 1px solid black;
  border-radius: -100px;
  resize: none;
  overflow: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 20px;
  z-index: 99;
}
.todo-container {
  display: flex;
  margin-left: -56px;
  justify-content: flex-start;
  background-color: transparent;
  border-bottom: #d5c0ae solid 1px;
  align-items: center;
  transition: all 2s cubic-bezier(0.5, 0.6, 0.55, 0.54) !important;
  /* border: red solid; */
}
.entered-item:active > .extra {
  display: block;
  border: black solid;
}
.todo-container:hover > .extra {
  transition: all 1s cubic-bezier(0.5, 0.6, 0.55, 0.54) !important;
  opacity: 1;
}
.timestamp {
  font-size: 10px;
  width: 62px;
  opacity: 1;
  margin-bottom: 0;
  margin-top: -9px;
}
.extra {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 20px;
  width: 56px;
  margin-top: 0;
  padding-top: 0;
  opacity: 0;
  /* border: solid black; */
  transition: all 1.5s cubic-bezier(0.01, 0.57, 0.27, 0.93) !important;
}
.buttons {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.save-button {
  color: blue;
  border: none;
  cursor: pointer;
  opacity: 0.3;
}
.save-button:hover {
  opacity: 1;
}
.save-button-space {
  color: transparent;
}
.complete-button {
  color: green;
  border: none;
  cursor: pointer;
  opacity: 0.26;
  /* border: pink solid; */
}
.complete-button:hover {
  opacity: 1;
}
.delete-button {
  color: red;
  border: none;
  cursor: pointer;
  opacity: 0.16;
  /* border: pink solid; */
}
.delete-button:hover {
  opacity: 1;
}
.clear-all-button-invisible {
  background: transparent;
  border: none;
  cursor: auto;
  width: fit-content;
  margin: 0;
  opacity: 0;
  transition: all 0.3s ease-out;
  transition: all 1s cubic-bezier(0.5, 0.6, 0.55, 0.54) !important;
}
.clear-all-button,
.clear-completed-button {
  background: transparent;
  border: none;
  cursor: pointer;
  width: fit-content;
  margin: 0;
  opacity: 0.14;
  transition: all 0.3s ease-out;
  transition: all 1s cubic-bezier(0.01, 0.57, 0.27, 0.93) !important;
}
.clear-all-button:hover,
.clear-completed-button:hover {
  opacity: 1 !important;
  transition: all 0.5s cubic-bezier(0.5, 0.6, 0.55, 0.54) !important;
}
/* .menu {
  font-size: 14px;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px 0 5px 0;
  width: 150px;
  height: auto;
  margin: 0;
  position: absolute;
  list-style: none;
  box-shadow: 0 0 20px 0 #c2b5b5;
  opacity: 1;
  transition: opacity 0.5s linear;
} */
/* @media only screen and (max-width: 700px) {
  textarea {
    -webkit-text-fill-color: white !important;
    color: white !important;
    caret-color: white !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .app {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    overflow-x: hidden;
  }
  .clock {
    margin-top: -500px;

    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 100;
    border: pink solid;
    width: fit-content;
    height: fit-content;
  }
  .todo-container {
    display: flex;
    width: 380px;
    justify-content: flex-start;
    padding: 0;
    border-bottom-width: 500px;
    border-bottom: #d5c0ae solid 1px;
    align-items: center;
    transition: all 0.25s ease-in-out;
    border: red solid;
  }
  .entered-item {
    border: none;
    border-bottom: #d5c0ae solid 1px;
    background-color: transparent;
    width: 250px;
    margin-bottom: 0;
    padding: 0;
    border: solid blue;
  }
  .timestamp {
    font-size: 13px;
    width: 84px;
    position: absolute;
    transform: translate(240px, -30px);
    display: none;
  }
} */
