* {
  background-color: #ccc;
  caret-color: white;
  height: fit-content;
}
::selection {
  background: pink;
}
.App {
  display: flex;
  justify-content: center;
  font-size: 35px;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  width: 600px;
  text-align: center;
}
.time {
  height: 50px;
  cursor: pointer;
  margin-bottom: 0;
}
.date {
  height: 50px;
  margin-top: 0;
  cursor: pointer;
}
textarea {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  border-radius: -100px;
  resize: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 30px;
}
textarea:focus {
  outline: none !important;
}
.enter-item {
  margin-bottom: 30px;
}
.enter-item::placeholder {
  opacity: 0.5;
}
.entered-item {
  border: none;
  border-bottom: #ccc;
  background-color: transparent;
  width: 600px;
}
.todo-container {
  display: flex;
  width: 650px;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-top: 20px;
  border-bottom-width: 500px;
  border-bottom: #ccc solid 1px;
  align-items: center;
}
.todo-container:hover {
  border-bottom: #fff solid 1px;
}
.todo-container:hover > .delete-button {
  display: block;
}
.todo-container:hover > .complete-button {
  display: block;
}
.delete-button {
  color: red;
  border: none;
  display: none;
  cursor: pointer;
  padding-left: 0px;
  font-size: 20px;
}
.complete-button {
  color: green;
  border: none;
  display: none;
  cursor: pointer;
  margin-right: 0;
  padding-right: 0;
  font-size: 20px;
  font-weight: 100;
}
.menu {
  font-size: 14px;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px 0 5px 0;
  width: 150px;
  height: auto;
  margin: 0;
  /* use absolute positioning  */
  position: absolute;
  list-style: none;
  box-shadow: 0 0 20px 0 #ccc;
  opacity: 1;
  transition: opacity 0.5s linear;
}
@media only screen and (max-width: 700px) {
  .app {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
  }
}
